.leftbanner {
  background-image: url("../../assets/images/background/loginbanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  min-height: 100vh;
}

.logotop {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
}

.mobilewidget{
  display: none;
  @media (max-width: 800px) {
    display: block;
  }
}

.desktopwidget{
  display: block;
  @media (max-width: 800px) {
    display: none;
  }
}
