.banner {
  background-image: url("../../assets/images/banner1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;

  @media (max-width: 800px) {
    height: 150px;
  }
}

.mobilemenubtn {
  display: none;

  @media (max-width: 800px) {
    display: inline;
  }
}
