.banner {
  background-image: url("../../assets/images/background/topbanner.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;

  @media (max-width: 800px) {
    height: 200px;
  }
}
